<?xml version="1.0" ?>
<robot name="base101_simple" xmlns:xacro="http://www.ros.org/wiki/xacro">

<link name="base_link">
  <inertial>
    <origin xyz="0.004138035038367605 -0.007945186495188921 0.008649103595723373" rpy="0 0 0"/>
    <mass value="0.666"/>
    <inertia ixx="0.00320365" iyy="0.00639127" izz="0.00959385" ixy="-1.78238e-05" iyz="0" ixz="0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="lidar_1">
  <inertial>
    <origin xyz="-0.02141614724245093 -0.02159463943842701 0.014018492032182493" rpy="0 0 0"/>
    <!-- DEBUG: zeroed-out to test CoG bias on rotation pivot -->
    <mass value="0.002"/>
    <inertia ixx="8.75e-07" iyy="8.75e-07" izz="1.23e-06" ixy="-0" iyz="-0" ixz="0"/>
  </inertial>
  <visual>
    <origin xyz="-0.143564 -0.013363 -0.050336" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/lidar_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="motor_black"/>
  </visual>
  <collision>
    <origin xyz="-0.143564 -0.013363 -0.050336" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/lidar_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="lidar_mount_1">
  <inertial>
    <origin xyz="0.0191721439784331 -0.05000012370315443 -0.01913509723728523" rpy="0 0 0"/>
    <mass value="0.04"/>
    <inertia ixx="5.20099e-05" iyy="1.12963e-05" izz="6.14235e-05" ixy="-0" iyz="-0" ixz="-0"/>
  </inertial>
  <visual>
    <origin xyz="-0.104675 -0.041863 -0.070149" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/lidar_mount_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.104675 -0.041863 -0.070149" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/lidar_mount_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="head_camera_1">
  <inertial>
    <origin xyz="0.012450796675630954 -0.021387754754905838 -2.7865943366574275e-05" rpy="0 0 0"/>
    <!-- DEBUG: zeroed-out to test CoG bias on rotation pivot -->
    <mass value="0.002"/>
    <inertia ixx="1.21e-06" iyy="1.84e-07" izz="1.22e-06" ixy="1.67e-08" iyz="-0" ixz="0"/>
  </inertial>
  <visual>
    <origin xyz="-0.174675 -0.014363 -0.050149" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/head_camera_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.174675 -0.014363 -0.050149" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/head_camera_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="motor_support_FR_1">
  <inertial>
    <origin xyz="-0.024595783987571715 -0.0033482105328557776 -0.008154896995698675" rpy="0 0 0"/>
    <mass value="0.05851930214455456"/>
    <inertia ixx="5e-06" iyy="1.7e-05" izz="1.3e-05" ixy="-0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.149239 0.128137 -0.030569" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/motor_support_FR_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.149239 0.128137 -0.030569" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/motor_support_FR_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wheel_inside_FR_1">
  <inertial>
    <origin xyz="1.1378667513523011e-05 -0.01068877258844353 2.0379284564230743e-05" rpy="0 0 0"/>
    <mass value="0.18"/>
    <inertia ixx="1.09913e-05" iyy="1.3739e-05" izz="1.09913e-05" ixy="-0" iyz="-0" ixz="0"/>
  </inertial>
  <visual>
    <origin xyz="-0.124733 0.133037 -0.024182" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/wheel_inside_FR_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="motor_black"/>
  </visual>
  <collision>
    <origin xyz="-0.124733 0.133037 -0.024182" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/wheel_inside_FR_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wheel_outside_FR_1">
  <inertial>
    <origin xyz="-2.8797014456349856e-07 0.003281433077208823 1.8006305721116056e-07" rpy="0 0 0"/>
    <mass value="0.08"/>
    <inertia ixx="2.90155e-05" iyy="5.41735e-05" izz="2.90155e-05" ixy="-0" iyz="-0" ixz="0"/>
  </inertial>
  <visual>
    <origin xyz="-0.124733 0.152453 -0.024182" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/wheel_outside_FR_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="motor_black"/>
  </visual>
  <collision>
    <origin xyz="-2.8797e-07 0.00328143 1.80063e-07" rpy="1.5708 0 0"/>
    <geometry>
      <cylinder length="0.03" radius="0.0363"/>
    </geometry>
  </collision>
</link>

<link name="motor_support_FL_1">
  <inertial>
    <origin xyz="-0.024595783987566316 0.003347963126491771 -0.008154896995715772" rpy="0 0 0"/>
    <mass value="0.05851930214548099"/>
    <inertia ixx="5e-06" iyy="1.7e-05" izz="1.3e-05" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.149239 -0.111863 -0.030569" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/motor_support_FL_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.149239 -0.111863 -0.030569" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/motor_support_FL_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wheel_inside_FL_1">
  <inertial>
    <origin xyz="1.9927832498878306e-05 0.010688525182070502 1.1830119576533571e-05" rpy="0 0 0"/>
    <mass value="0.18"/>
    <inertia ixx="1.09913e-05" iyy="1.3739e-05" izz="1.09913e-05" ixy="0" iyz="0" ixz="0"/>
  </inertial>
  <visual>
    <origin xyz="-0.124733 -0.116763 -0.024182" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/wheel_inside_FL_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="motor_black"/>
  </visual>
  <collision>
    <origin xyz="-0.124733 -0.116763 -0.024182" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/wheel_inside_FL_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wheel_inside_BL_1">
  <inertial>
    <origin xyz="-2.000939104206123e-05 0.010688525182267566 0.008927474221975628" rpy="0 0 0"/>
    <mass value="0.18"/>
    <inertia ixx="1.09913e-05" iyy="1.3739e-05" izz="1.09913e-05" ixy="-0" iyz="0" ixz="-0"/>
  </inertial>
  <visual>
    <origin xyz="0.115382 -0.116763 -0.014982" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/wheel_inside_BL_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="motor_black"/>
  </visual>
  <collision>
    <origin xyz="0.115382 -0.116763 -0.014982" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/wheel_inside_BL_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wheel_outside_FL_1">
  <inertial>
    <origin xyz="-2.879701441749205e-07 -0.003281680483583127 1.2342297787959478e-07" rpy="0 0 0"/>
    <mass value="0.08"/>
    <inertia ixx="2.90155e-05" iyy="5.41735e-05" izz="2.90155e-05" ixy="0" iyz="-0" ixz="-0"/>
  </inertial>
  <visual>
    <origin xyz="-0.124733 -0.136179 -0.024182" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/wheel_outside_FL_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="motor_black"/>
  </visual>
  <collision>
    <origin xyz="-2.8797e-07 -0.00328168 1.23423e-07" rpy="1.5708 0 0"/>
    <geometry>
      <cylinder length="0.03" radius="0.0363"/>
    </geometry>
  </collision>
</link>

<link name="wheel_outside_BL_1">
  <inertial>
    <origin xyz="2.0641160437817607e-07 -0.0032816804833856184 -1.75834540098313e-07" rpy="0 0 0"/>
    <mass value="0.08"/>
    <inertia ixx="2.90155e-05" iyy="5.41735e-05" izz="2.90155e-05" ixy="-0" iyz="0" ixz="-0"/>
  </inertial>
  <visual>
    <origin xyz="0.115382 -0.136179 -0.023898" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/wheel_outside_BL_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="motor_black"/>
  </visual>
  <collision>
    <origin xyz="2.06412e-07 -0.00328168 -1.75835e-07" rpy="1.5708 0 0"/>
    <geometry>
      <cylinder length="0.03" radius="0.0363"/>
    </geometry>
  </collision>
</link>

<link name="motor_support_BR_1">
  <inertial>
    <origin xyz="-0.02527729757092992 -0.003348210532854612 -0.008154896995699632" rpy="0 0 0"/>
    <mass value="0.05851930214454923"/>
    <inertia ixx="5e-06" iyy="1.7e-05" izz="1.3e-05" ixy="0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.090015 0.128137 -0.030569" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/motor_support_BR_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.090015 0.128137 -0.030569" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/motor_support_BR_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wheel_inside_BR_1">
  <inertial>
    <origin xyz="-2.0009391030445522e-05 -0.01068877258844192 0.008927474221980503" rpy="0 0 0"/>
    <mass value="0.18"/>
    <inertia ixx="1.09913e-05" iyy="1.3739e-05" izz="1.09913e-05" ixy="0" iyz="-0" ixz="-0"/>
  </inertial>
  <visual>
    <origin xyz="0.115382 0.133037 -0.014982" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/wheel_inside_BR_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="motor_black"/>
  </visual>
  <collision>
    <origin xyz="0.115382 0.133037 -0.014982" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/wheel_inside_BR_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wheel_outside_BR_1">
  <inertial>
    <origin xyz="2.0641161270484876e-07 0.003281433077210877 -2.324746181670001e-07" rpy="0 0 0"/>
    <mass value="0.08"/>
    <inertia ixx="2.90155e-05" iyy="5.41735e-05" izz="2.90155e-05" ixy="0" iyz="0" ixz="0"/>
  </inertial>
  <visual>
    <origin xyz="0.115382 0.152453 -0.023898" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/wheel_outside_BR_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="motor_black"/>
  </visual>
  <collision>
    <origin xyz="2.06412e-07 0.00328143 -2.32475e-07" rpy="1.5708 0 0"/>
    <geometry>
      <cylinder length="0.03" radius="0.0363"/>
    </geometry>
  </collision>
</link>

<link name="box_right_1">
  <inertial>
    <origin xyz="-0.16999954077924853 0.009999876296821697 0.030006796884407487" rpy="0 0 0"/>
    <mass value="0.381"/>
    <inertia ixx="0.000148583" iyy="0.00380186" izz="0.00368459" ixy="-0" iyz="-0" ixz="0"/>
  </inertial>
  <visual>
    <origin xyz="-0.174675 0.128137 -0.010149" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/box_right_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="body_aluminum"/>
  </visual>
  <collision>
    <origin xyz="-0.174675 0.128137 -0.010149" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/box_right_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="box_left_1">
  <inertial>
    <origin xyz="-0.16999954077925108 -0.010000123703183428 0.03000679688440746" rpy="0 0 0"/>
    <mass value="0.381"/>
    <inertia ixx="0.000148583" iyy="0.00380186" izz="0.00368459" ixy="-0" iyz="-0" ixz="0"/>
  </inertial>
  <visual>
    <origin xyz="-0.174675 -0.111863 -0.010149" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/box_left_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="body_aluminum"/>
  </visual>
  <collision>
    <origin xyz="-0.174675 -0.111863 -0.010149" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/box_left_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="box_front_1">
  <inertial>
    <origin xyz="-0.00999954077925222 -0.10000012370317844 0.029994165496349375" rpy="0 0 0"/>
    <mass value="0.232"/>
    <inertia ixx="0.000854825" iyy="9.03446e-05" izz="0.000783101" ixy="-0" iyz="0" ixz="0"/>
  </inertial>
  <visual>
    <origin xyz="-0.174675 -0.091863 -0.010149" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/box_front_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="body_aluminum"/>
  </visual>
  <collision>
    <origin xyz="-0.174675 -0.091863 -0.010149" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/box_front_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="box_back_1">
  <inertial>
    <origin xyz="0.010000459220750046 -0.10000012370318384 0.030000103595723464" rpy="0 0 0"/>
    <mass value="0.232"/>
    <inertia ixx="0.000854318" iyy="9.0291e-05" izz="0.000782981" ixy="-0" iyz="0" ixz="0"/>
  </inertial>
  <visual>
    <origin xyz="0.165325 -0.091863 -0.010149" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/box_back_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="body_aluminum"/>
  </visual>
  <collision>
    <origin xyz="0.165325 -0.091863 -0.010149" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/box_back_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="core_top_plate_v1_1">
  <inertial>
    <origin xyz="-0.1743459614756374 0.11999987629681491 0.0015001035957234593" rpy="0 0 0"/>
    <mass value="0.666"/>
    <inertia ixx="0.00331055" iyy="0.00629738" izz="0.00960682" ixy="-0" iyz="-0" ixz="0"/>
  </inertial>
  <visual>
    <origin xyz="-0.174675 0.128137 -0.070149" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/core_top_plate_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="body_aluminum"/>
  </visual>
  <collision>
    <origin xyz="-0.174675 0.128137 -0.070149" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/core_top_plate_v1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="bumper_FL_1">
  <inertial>
    <origin xyz="0.0032099341331383036 -0.0074299697551648836 -0.03029856516239321" rpy="0 0 0"/>
    <mass value="0.05"/>
    <inertia ixx="3.29192e-05" iyy="2.59851e-05" izz="2.17827e-05" ixy="5.88343e-06" iyz="-2.38139e-06" ixz="3.57208e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.174675 -0.111863 -0.073149" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/bumper_FL_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="accent_green"/>
  </visual>
  <collision>
    <origin xyz="-0.174675 -0.111863 -0.073149" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/bumper_FL_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="bumper_FR_1">
  <inertial>
    <origin xyz="0.0032099341334185516 0.0074297223479233565 -0.03029856516237616" rpy="0 0 0"/>
    <mass value="0.05"/>
    <inertia ixx="3.29192e-05" iyy="2.59851e-05" izz="2.17827e-05" ixy="-5.88343e-06" iyz="2.38139e-06" ixz="3.57208e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.174675 0.128137 -0.073149" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/bumper_FR_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="accent_green"/>
  </visual>
  <collision>
    <origin xyz="-0.174675 0.128137 -0.073149" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/bumper_FR_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="bumper_BR_1">
  <inertial>
    <origin xyz="-0.0032090476461422435 0.007429776588759318 -0.030298520067340087" rpy="0 0 0"/>
    <mass value="0.05"/>
    <inertia ixx="3.29193e-05" iyy="2.59852e-05" izz="2.17827e-05" ixy="5.88344e-06" iyz="2.38139e-06" ixz="-3.57209e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.165325 0.128137 -0.073149" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/bumper_BR_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="accent_green"/>
  </visual>
  <collision>
    <origin xyz="0.165325 0.128137 -0.073149" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/bumper_BR_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="bumper_BL_1">
  <inertial>
    <origin xyz="-0.0032090476461490713 -0.007430023995160268 -0.030298520067342093" rpy="0 0 0"/>
    <mass value="0.05"/>
    <inertia ixx="3.29193e-05" iyy="2.59852e-05" izz="2.17827e-05" ixy="-5.88344e-06" iyz="-2.38139e-06" ixz="-3.57209e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.165325 -0.111863 -0.073149" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/bumper_BL_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="accent_green"/>
  </visual>
  <collision>
    <origin xyz="0.165325 -0.111863 -0.073149" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/bumper_BL_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="motor_support_BL_1">
  <inertial>
    <origin xyz="0.024594841127992637 0.003347579512668397 -0.008117758982724387" rpy="0 0 0"/>
    <mass value="0.058371897626062284"/>
    <inertia ixx="5e-06" iyy="1.7e-05" izz="1.3e-05" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.139888 -0.111863 -0.030569" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/motor_support_BL_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.139888 -0.111863 -0.030569" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base101_description)/meshes/simple/motor_support_BL_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Rigid 12" type="fixed">
  <origin xyz="0.038889 -0.0285 -0.019813" rpy="0 0 0"/>
  <parent link="lidar_mount_1"/>
  <child link="lidar_1"/>
</joint>

<joint name="Rigid 31" type="fixed">
  <origin xyz="-0.07 0.17 0.0" rpy="0 0 0"/>
  <parent link="core_top_plate_v1_1"/>
  <child link="lidar_mount_1"/>
</joint>

<joint name="Rigid 33" type="fixed">
  <origin xyz="0.0 -0.0775 0.04" rpy="0 0 0"/>
  <parent link="box_front_1"/>
  <child link="head_camera_1"/>
</joint>

<joint name="Rigid 51" type="fixed">
  <origin xyz="-0.025436 0.0 0.02042" rpy="0 0 0"/>
  <parent link="box_right_1"/>
  <child link="motor_support_FR_1"/>
</joint>

<joint name="Rigid 52" type="fixed">
  <origin xyz="-0.024506 -0.0049 -0.006387" rpy="0 0 0"/>
  <parent link="motor_support_FR_1"/>
  <child link="wheel_inside_FR_1"/>
</joint>

<joint name="wheel_front_right" type="continuous">
  <origin xyz="0.0 -0.019416 0.0" rpy="0 0 0"/>
  <parent link="wheel_inside_FR_1"/>
  <child link="wheel_outside_FR_1"/>
  <!-- Normalised to +Y so diff_drive_controller's forward command (+vel to
       all wheels) actually moves the robot forward instead of spinning it.
       Fusion exports per-wheel axes pointing outward from the chassis. -->
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="Rigid 54" type="fixed">
  <origin xyz="-0.025436 0.0 0.02042" rpy="0 0 0"/>
  <parent link="box_left_1"/>
  <child link="motor_support_FL_1"/>
</joint>

<joint name="Rigid 55" type="fixed">
  <origin xyz="-0.024506 0.0049 -0.006387" rpy="0 0 0"/>
  <parent link="motor_support_FL_1"/>
  <child link="wheel_inside_FL_1"/>
</joint>

<joint name="Rigid 56" type="fixed">
  <!-- Z matched to front (Rigid 55) so all 4 wheels are coplanar. -->
  <origin xyz="0.024506 0.0049 -0.006387" rpy="0 0 0"/>
  <parent link="motor_support_BL_1"/>
  <child link="wheel_inside_BL_1"/>
</joint>

<joint name="wheel_front_left" type="continuous">
  <origin xyz="0.0 0.019416 0.0" rpy="0 0 0"/>
  <parent link="wheel_inside_FL_1"/>
  <child link="wheel_outside_FL_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="wheel_rear_left" type="continuous">
  <!-- Z matched to wheel_front_left so all 4 wheels are coplanar. -->
  <origin xyz="0.0 0.019416 0.0" rpy="0 0 0"/>
  <parent link="wheel_inside_BL_1"/>
  <child link="wheel_outside_BL_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="Rigid 60" type="fixed">
  <origin xyz="-0.26469 0.0 0.02042" rpy="0 0 0"/>
  <parent link="box_right_1"/>
  <child link="motor_support_BR_1"/>
</joint>

<joint name="Rigid 61" type="fixed">
  <!-- Z matched to front (Rigid 52) so all 4 wheels are coplanar. -->
  <origin xyz="-0.025367 -0.0049 -0.006387" rpy="0 0 0"/>
  <parent link="motor_support_BR_1"/>
  <child link="wheel_inside_BR_1"/>
</joint>

<joint name="wheel_rear_right" type="continuous">
  <!-- Z matched to wheel_front_right so all 4 wheels are coplanar. -->
  <origin xyz="0.0 -0.019416 0.0" rpy="0 0 0"/>
  <parent link="wheel_inside_BR_1"/>
  <child link="wheel_outside_BR_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="Rigid 63" type="fixed">
  <!-- Y shifted from -0.128137 so left/right boxes (and the wheels hanging
       off them) are symmetric about base_link. Paired with the matching
       shift on Rigid 64 below. CAD model has base_link offset 8mm to the
       right of the chassis centerline; this patches it in URDF. -->
  <origin xyz="0.174675 -0.120 0.010149" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="box_right_1"/>
</joint>

<joint name="Rigid 64" type="fixed">
  <!-- Y shifted from 0.111863. Paired with Rigid 63 above so the chassis
       centerline matches base_link Y=0. -->
  <origin xyz="0.174675 0.120 0.010149" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="box_left_1"/>
</joint>

<joint name="Rigid 65" type="fixed">
  <origin xyz="0.0 -0.02 0.0" rpy="0 0 0"/>
  <parent link="box_left_1"/>
  <child link="box_front_1"/>
</joint>

<joint name="Rigid 66" type="fixed">
  <origin xyz="-0.34 -0.02 0.0" rpy="0 0 0"/>
  <parent link="box_left_1"/>
  <child link="box_back_1"/>
</joint>

<joint name="Rigid 67" type="fixed">
  <origin xyz="0.0 0.0 0.06" rpy="0 0 0"/>
  <parent link="box_right_1"/>
  <child link="core_top_plate_v1_1"/>
</joint>

<joint name="Rigid 68" type="fixed">
  <origin xyz="0.0 0.24 0.003" rpy="0 0 0"/>
  <parent link="core_top_plate_v1_1"/>
  <child link="bumper_FL_1"/>
</joint>

<joint name="Rigid 69" type="fixed">
  <origin xyz="0.0 0.0 0.003" rpy="0 0 0"/>
  <parent link="core_top_plate_v1_1"/>
  <child link="bumper_FR_1"/>
</joint>

<joint name="Rigid 70" type="fixed">
  <origin xyz="-0.34 0.0 0.003" rpy="0 0 0"/>
  <parent link="core_top_plate_v1_1"/>
  <child link="bumper_BR_1"/>
</joint>

<joint name="Rigid 71" type="fixed">
  <origin xyz="-0.34 0.24 0.003" rpy="0 0 0"/>
  <parent link="core_top_plate_v1_1"/>
  <child link="bumper_BL_1"/>
</joint>

<joint name="Rigid 72" type="fixed">
  <origin xyz="-0.314563 0.0 0.02042" rpy="0 0 0"/>
  <parent link="box_left_1"/>
  <child link="motor_support_BL_1"/>
</joint>

<!-- Virtual sensor frame for the 2D laser scan. Sits at the XY geometric
     centre of the lidar mesh (taken from lidar_1's inertial origin) and 3 cm
     above that centre on Z, which is roughly the rotating-laser plane on an
     RPLidar-class unit. /scan is published in this frame (see the gpu_lidar
     <gz_frame_id> in base101_simple.gazebo). -->
<link name="lidar_frame"/>
<joint name="lidar_frame_joint" type="fixed">
  <origin xyz="-0.021416 -0.021595 0.044018" rpy="0 0 0"/>
  <parent link="lidar_1"/>
  <child link="lidar_frame"/>
</joint>

</robot>
